#device-owner-img {
    width: 100px;
    height: 100px;
    position: relative;
    margin-top: -80px;
    margin-left: 110px;
    background: url(/static/icons/home-100.png) center center;
}

.small-history{
    width: 15px;
}