body {
    padding-top: 20px;
    padding-bottom: 40px;
}
a {
    color: #eb3614;
}

a:hover {
    color: #660000;
}

.btn {
    color: white;
    background: #eb3614;
    text-shadow: none;
    box-shadow: none;
}

.btn:hover {
    color: white;
    background: #660000;
}

/* Custom container */
.container-narrow {
    margin: 0 auto;
    width: 960px;
}

.container-narrow > hr {
    margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
    margin: 60px 0;
    text-align: center;
}

.jumbotron h1 {
    font-size: 72px;
    line-height: 1;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
    margin: 60px 0;
}

.marketing p + h4 {
    margin-top: 28px;
}

.nav {
    font-size: 18px;
}

.nav li {
    margin-left: 20px;
}

.nav li a.active,
.nav li a:hover {
    text-decoration: underline;
    background: transparent;
}

#device-search {
    text-align: right;
}

#device-search form {
    margin: 0 12px 0 0;
}

#device-search input[type="text"] {
    margin-bottom: 0;
    font-size: 16px;
    width: 300px;
}
#device-list,
#employer-list {
    margin-top: 40px;
    min-height: 300px;
}

#device-list li,
#employer-list li {
    display: inline;
    list-style: none;
}

.device,
.employer {
    position: relative;
    float: left;
    width: 150px;
    margin: 0 15px 25px 15px;
    text-align: center;
}

.device .image,
.employer .image {
    width: 120px;
    height: 120px;
    margin: 0 auto;
    overflow: hidden;
}

.device .image img,
.employer .image img {
    width: 120px;
}

.device .name,
.employer .name {
    padding: 10px 0 4px 0;
    font-size: 16px;
    font-weight: bold;
}
.device .info {
    padding: 2px 0;
}
.device .owner {
    position: absolute;
    top: 80px;
    left: 100px;
    width: 50px;
    height: 50px;
    overflow: hidden;
    background: url(/static/icons/home-50.png) center center;
}
.device .owner img {
    width: 50px;
    height: 50px;
}
.employer .devices {
    position: absolute;
    top: 95px;
    left: 110px;
    width: 35px;
    height: 27px;
    overflow: hidden;
    background: #eb3614;
    padding: 8px 0 0 0;
    font-size: 18px;
    font-weight: bold;
    color: white;
}
.device .info .os {
    text-transform: capitalize;
}

#device-filter,
#employer-filter {
    font-size: 18px;
    height: 24px;
}

#device-filter label,
#employer-filter label {
    font-size: 18px;
    position: relative;
    padding: 0;
}

#device-filter label input,
#employer-filter label input {
    position: relative;
    top: -4px;
}

#device-filter .filter-form,
#employer-filter .filter-form {
    position: relative;
    top: -20px;
    left: 80px;
}

#device-filter li,
#employer-filter li {
    list-style: none;
    display: inline-block;
}

#device-filter ul,
#employer-filter ul {
    margin: 0;
    padding: 0;
}
.pagination {
    font-size: 18px;
    text-align: center;
    color: #999;
}
.pagination a {
    font-weight: bold;
}
#about {
    min-height: 370px;
}

#about div {
    float: left;
    width: 33%;
    text-align: center;
}


#device-view {
    font-size: 16px;
}

#device-view a:hover,
#device-view a.active {
    color: #999;
}

#device-map {
    margin-top: 40px;
    width: 960px;
    overflow-x: scroll;
}

#device-map .top-rooms,
#device-map .corridor,
#device-map .bottom-rooms {
    width: 1660px;
    border-right: 1px solid #AAA;
}

#device-map .corridor {
    height: 100px;
    background: #CCC;
}

#device-map .room {
    float: left;
    width: 80px;
    height: 160px;
    padding: 10px;
    border: 1px solid #AAA;
    font-size: 16px;
    border-right: none;
    overflow: hidden;
    overflow-y: auto;
}
#device-map .room ul {
    margin: 0;
    padding: 0;
}
#device-map .room li {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 12px;
}
#device-map .room.disabled {
    background: #CCC;
}
#device-map .skip {
    float: left;
    width: 30px;
    height: 160px;
    padding: 10px;
    border: 1px solid #AAA;
    font-size: 16px;
    border-right: none;
    background: #EEE;
}

#device-map .top-rooms .disabled {
    width: 70px;
}
#device-map .top-rooms .big {
    width: 125px;
}
#device-map .bottom-rooms .room {
    width: 88px;
}
#device-map .bottom-rooms .big {
    width: 110px;
}
#device-map .bottom-rooms .last {
    width: 115px;
}
#device-map .bottom-rooms .small {
    width: 70px;
}
.employer-image {
    width: 170px;
}
.employer-profile {
    min-height: 370px;
}

#developer {
    margin-bottom: 0;
    width: 170px;
}


#father {
    background: url(../img/father.png) no-repeat 0% 100%;
    height: 400px;
    width: 488px;
    position: fixed;
    bottom: -404px;
    z-index: 8;
}

table .date {
    text-align: center;
    font-size: 14px;
    font-weight: bold;
}

.form-signin {
    max-width: 300px;
    padding: 40px;
    margin: 40px auto;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
    box-shadow: 0 1px 2px rgba(0,0,0,.05);
}

.form-signin input {
    width: 285px;
    margin: 8px 0;
    padding: 6px;
    font-size: 16px;
}
.form-signin .btn {
    margin-top: 5px;
    padding: 7px 25px 8px 25px;
}

.footer ul li {
    display: inline-block;
    list-style: none;
}

.device-block {
    margin-left: 60px;
}
