body {
    padding-top: 20px;
    padding-bottom: 40px;
}
a {
    color: #eb3614;
}

a:hover {
    color: #660000;
}

/* Custom container */
.container-narrow {
    margin: 0 auto;
    width: 960px;
}

.container-narrow > hr {
    margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
    margin: 60px 0;
    text-align: center;
}

.jumbotron h1 {
    font-size: 72px;
    line-height: 1;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
    margin: 60px 0;
}

.marketing p + h4 {
    margin-top: 28px;
}

.nav {
    font-size: 24px;
    margin: 30px 0 0 0;
}

.nav li {
    margin-right: 20px;
}

#device-list {
    margin-top: 40px;
}

#device-list li,
#employer-list li {
    display: inline;
    list-style: none;
}

.device,
.employer {
    position: relative;
    float: left;
    width: 150px;
    margin: 0 15px 25px 15px;
    text-align: center;
}

.device .image,
.employer .image {
    width: 120px;
    height: 120px;
    margin: 0 auto;
    overflow: hidden;
}

.device .image img,
.employer .image img {
    width: 120px;
}

.device .name,
.employer .name {
    padding: 10px 0 4px 0;
    font-size: 16px;
    font-weight: bold;
}
.device .info {
    padding: 2px 0;
}
.device .owner {
    position: absolute;
    top: 80px;
    left: 100px;
    width: 50px;
    height: 50px;
    overflow: hidden;
    background: #14eb23;
}
.device .owner img {
    width: 50px;
    height: 50px;
}
.employer .devices {
    position: absolute;
    top: 95px;
    left: 110px;
    width: 35px;
    height: 27px;
    overflow: hidden;
    background: #eb3614;
    padding: 8px 0 0 0;
    font-size: 18px;
    font-weight: bold;
    color: white;
}
.device .info .os {
    text-transform: capitalize;
}

#device-filter {
    font-size: 18px;
}

#device-filter input {
    margin: 0 4px;
    position: relative;
    top: -1px;
}

.pagination {
    font-size: 18px;
    text-align: center;
    color: #999;
}
.pagination a {
    font-weight: bold;
}

#about div {
    float: left;
    width: 33%;
}

#device-view {
    font-size: 16px;
}

#device-view a:hover,
#device-view a.active {
    color: #999;
}

#device-map {
    margin-top: 40px;
    width: 960px;
    overflow-x: scroll;
}

#device-map .top-rooms,
#device-map .corridor,
#device-map .bottom-rooms {
    width: 1566px;
    border-right: 1px solid #AAA;
}

#device-map .corridor {
    height: 80px;
    background: #CCC;
}

#device-map .room {
    float: left;
    width: 80px;
    height: 80px;
    padding: 10px;
    border: 1px solid #AAA;
    font-size: 16px;
    border-right: none;
}
#device-map .room.disabled {
    background: #CCC;
}
#device-map .skip {
    float: left;
    width: 30px;
    height: 80px;
    padding: 10px;
    border: 1px solid #AAA;
    font-size: 16px;
    border-right: none;
    background: #EEE;
}

#device-map .top-rooms .big {
    width: 125px;
}
#device-map .top-rooms .disabled {
    width: 70px;
}
#device-map .bottom-rooms .room {
    width: 88px;
}
#device-map .bottom-rooms .last {
    width: 95px;
}
#device-map .bottom-rooms .small {
    width: 70px;
}