{% load staticfiles %}

{% load twid %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>TWID [Where Is That Device]</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'css/bootstrap-responsive.css' %}" rel="stylesheet">
    <link href="{% static 'css/template.css' %}" rel="stylesheet">
    <link href="{% static 'css/device-single.css' %}" rel="stylesheet">
    <link href="{% static 'css/no-theme/jquery-ui-1.10.4.custom.min.css' %}" rel="stylesheet">
    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{% static 'icons/apple-touch-icon-144-precomposed.png' %}">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{% static 'icons/apple-touch-icon-114-precomposed.png' %}">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{% static 'icons/apple-touch-icon-72-precomposed.png' %}">
    <link rel="apple-touch-icon-precomposed" href="{% static 'icons/apple-touch-icon-57-precomposed.png' %}">
    <link rel="shortcut icon" href="{% static 'icons/favicon.png' %}">
</head>
<body>
<div class="container-narrow">

    <div class="masthead">
        <div class="logo pull-left">
            <a href="/">
                <img src="{% static 'img/logo.png' %}">
            </a>
        </div>
        <div class="pull-right">
            <ul class="nav nav-pills">
                <li><a href="{% url 'index' %}" class={% active_url request 'index' %}>Home</a></li>
                <li><a href="{% url 'employer_list' %}" class="{% active_url request 'employer_list' %}">Employers</a></li>
                <li><a href="{% url 'history_list' %}" class="{% active_url request 'history_list' %}">History</a></li>
                <li><a href="{% url 'about' %}" class="{% active_url request 'about' %}">About</a></li>
            </ul>
            <div id="device-search">
                <form action="{% url 'search' %}" class="search">
                    <input type="text" name="query" class="form-control" placeholder="Type device name or sku..." value="{{query}}">
                    <input type="submit" class="btn" value="Search">
                </form>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>

    <hr>

    <div class="clearfix"></div>

    <div id="content" class="wrapper">
        {% block content %}{% endblock %}
    </div>

    <hr>

    <div class="clearfix"></div>

    <div class="footer">
        <p>Team <span class="bold">"Reset --hard"</span> &copy; 2014</p>
    </div>

</div>
<!-- /container -->

<!-- Le javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
{% block js %}
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/template.js' %}"></script>
    <script src="{% static 'js/jquery-1.10.2.js' %}"></script>
    <script src="{% static 'js/jquery-ui-1.10.4.custom.min.js' %}"></script>
{% endblock %}

</body>
</html>
