{% extends 'common/layout.html' %}

<!-- CONTENT -->
{% block content %}
<ol class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li> &raquo; </li>
  <li class="active">About</li>
</ol>
<h1>"Reset --hard" Team</h1>
<div id="about">
    <div>
        <h2>Alexander Chaika</h2>
        <img src="/media/about/1.jpg">
    </div>
    <div>
        <h2>Ernest Rakhmatulin</h2>
        <img src="/media/about/1.jpg">
    </div>
    <div>
        <h2>Igor Nemilentsev</h2>
        <img src="/media/about/1.jpg">
    </div>
</div>
<div class="clearfix"></div>
{% endblock %}
<!-- /CONTENT -->