{% extends 'common/layout.html' %}

<!-- CONTENT -->
{% block content %}
<div id="employer-filter">
    Sort by:
    <form action="" class="filter-form">
        <ul>
            <li>
                <label>
                    <input type="radio" name="device-filter" value="date" checked />
                    Date
                </label>
            </li>
            <li>
                <label>
                    <input type="radio" name="device-filter" value="name" />
                    Name
                </label>
            </li>
            <li>
                <label>
                    <input type="radio" name="device-filter" value="owner" />
                    Owner
                </label>
            </li>
        </ul>
    </form>
</div>
<ul id="employer-list">
{% for employer in employers %}
    {% if forloop.counter|divisibleby:6 %}
        <div class="clearfix"></div>
    {% else %}
        <li>
            <div class="employer">
                <div class="image">
                    <a href="/employer/{{ employer.pk }}">
                        <img src="/media/{{ employer.image }}" />
                    </a>
                </div>
                <div class="name">
                    <a href="/employer/{{ employer.pk }}">
                        {{ employer.first_name_eng }} {{ employer.last_name_eng }}
                    </a>
                </div>
                <div class="devices img-circle">
                    {% if employer %}0{% else %}0{% endif %}
                </div>
            </div>
        </li>
    {% endif %}
{% endfor %}
</ul>
<div class="clearfix"></div>

<div class="pagination">
    {% if employers.has_previous %}
        <a href="/employers?page={{ contacts.previous_page_number }}" class="pull-left">&laquo; Previous</a>
    {% endif %}

    {% if employers.has_next %}
        <a href="/employers?page={{ employers.next_page_number }}" class="pull-right">Next &raquo;</a>
    {% endif %}

    <span class="current">
        Page {{ employers.number }} of {{ employers.paginator.num_pages }}
    </span>
</div>
{% endblock %}
<!-- /CONTENT -->