{% extends 'common/layout.html' %}

{% block js %}
    {{ block.super }}
    <script>
        $(function () {
            $("#device-filter").on("change", "input", function () {
                $(this).closest("form").submit();
            });
        });
    </script>
{% endblock %}

<!-- CONTENT -->
{% block content %}
<div id="device-filter">
    Sort by:
    <form action="" class="filter-form">
        {% for field in form %}
            {{ field }}
        {% endfor %}
    </form>
</div>
<div id="employer-list">
{% for employer in employers %}
    <div>
        <div class="employer">
            <div class="image">
                <a href="{{ employer.get_absolute_url }}">
                    <img src="{{ employer.image.url }}" />
                </a>
            </div>
            <div class="name">
                <a href="{{ employer.get_absolute_url }}">
                    {{ employer.first_name_eng }} {{ employer.last_name_eng }}
                </a>
            </div>
            <div class="devices img-circle">
                {{ employer.count }}
            </div>
        </div>
    </div>
    {% if forloop.counter|divisibleby:5 %}
        <div class="clearfix"></div>
    {% endif %}
{% endfor %}
</div>
<div class="clearfix"></div>

<div class="pagination">
    {% if employers.has_previous %}
        <a href="{% url 'employer_list' %}?page={{ contacts.previous_page_number }}" class="pull-left">&laquo; Previous</a>
    {% endif %}

    {% if employers.has_next %}
        <a href="{% url 'employer_list' %}?page={{ employers.next_page_number }}" class="pull-right">Next &raquo;</a>
    {% endif %}

    <span class="current">
        Page {{ employers.number }} of {{ employers.paginator.num_pages }}
    </span>
</div>
{% endblock %}
<!-- /CONTENT -->
