{% extends 'common/layout.html' %}

{% load twid %}

<!-- CONTENT -->
{% block content %}
    <ol class="breadcrumb">
        <li><a href="{% url 'index' %}">Home</a></li>
        <li> &raquo; </li>
        <li class="active">History</li>
    </ol>
    <h2>Device history</h2>
    <div id="history-list">
        {% if history %}
            <table width="100%" cellpadding="10">
                <tbody>
                {% for history_item in history %}
                    <tr>
                        <td class="history-employer">
                            {% if history_item.old_employer %}
                                <div class="image pull-left">
                                    <a href="{{ history_item.old_employer.get_absolute_url }}">
                                        <img src="{{ history_item.old_employer.image.url }}"/>
                                    </a>
                                </div>
                                <div class="name pull-left">
                                    <a href="{{ history_item.old_employer.get_absolute_url }}">
                                        {{ history_item.old_employer.last_name_eng }}<br>
                                        {{ history_item.old_employer.first_name_eng }}
                                    </a>
                                    <a class="icon-search" href="{% url 'history_list_employer' history_item.old_employer_id %}"></a>
                                </div>
                            {% else %}
                                <div class="pull-left">
                                    <img src="/static/icons/home-50.png">
                                </div>
                                <div class="name pull-left">
                                    Device<br>store
                                </div>
                            {% endif %}
                        </td>
                        <td class="history-employer">
                            <img src="/static/icons/right.png">
                        </td>
                        <td class="history-employer">
                            <div class="image pull-left">
                                <a href="{{ history_item.employer.get_absolute_url }}">
                                    <img src="{{ history_item.employer.image.url }}" />
                                </a>
                            </div>
                            <div class="name pull-left">
                                <a href="{{ history_item.employer.get_absolute_url }}">
                                    {{ history_item.employer.last_name_eng }}<br>
                                    {{ history_item.employer.first_name_eng }}
                                </a>
                                <a class="icon-search" href="{% url 'history_list_employer' history_item.employer_id %}"></a>
                            </div>
                        </td>
                        <td class="history-device">
                            <div class="image pull-left">
                                <a href="{{ history_item.device.get_absolute_url }}">
                                    <img src="{{ history_item.device.image.url }}" />
                                </a>
                            </div>
                            <div class="name pull-left">
                                <a href="{{ history_item.device.get_absolute_url }}">
                                    {{ history_item.device }}
                                </a>
                                <a class="icon-search" href="{% url 'history_list_device' history_item.device_id %}"></a>
                            </div>
                        </td>
                        <td class="date">
                            {{ history_item.date }}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% endif %}
    </div>
    <div class="clearfix"></div>

    <div class="pagination">
        {% if history.has_previous %}
            <a href="{% url 'history_list' %}{% url_replace request 'page' history.previous_page_number %}" class="pull-left">&laquo; Previous</a>
        {% endif %}

        {% if history.has_next %}
            <a href="{% url 'history_list' %}{% url_replace request 'page' history.next_page_number %}" class="pull-right">Next &raquo;</a>
        {% endif %}

        {% if history.paginator.num_pages > 1 %}
            <span class="current">
            Page {{ history.number }} of {{ history.paginator.num_pages }}
        </span>
        {% endif %}
    </div>
{% endblock %}
<!-- /CONTENT -->
