{% extends 'common/layout.html' %}

{% block js %}
    {{ block.super }}
    <script>
        $(function () {
            $("#device-filter").on("change", "input", function () {
                $(this).closest("form").submit();
            });
        });
    </script>
{% endblock %}

<!-- CONTENT -->
{% block content %}
<div id="device-filter" class="panel panel-default">
    Sort by:
    <form action="">
        {% for field in form %}
            {{ field }}
        {% endfor %}
    </form>
</div>
<ul id="device-list">
{% for device in devices %}
    <li>
        {% if forloop.counter|divisibleby:6 %}
            <div class="clearfix"></div>
        {% else %}
            <div class="device">
                <div class="image">
                    <a href="/device/{{ device.pk }}">
                        <img src="/media/{{ device.image }}" />
                    </a>
                </div>
                <div class="name">
                    <a href="/device/{{ device.pk }}">
                        {{ device }}
                    </a>
                </div>
                <div class="info">
                    <span class="os">{{ device.os }}</span>
                    {{ device.version }}
                </div>
            </div>
        {% endif %}
    </li>
{% endfor %}
</ul>
<div class="clearfix"></div>
{% endblock %}
<!-- /CONTENT -->
