{% extends 'common/layout.html' %}

{% load twid %}

{% block js %}
    {{ block.super }}
    <script>
        $(function () {
            $("#device-filter").on("change", "input", function () {
                $(this).closest("form").submit();
            });
        });
    </script>
{% endblock %}

<!-- CONTENT -->
<div class="clearfix"></div>

{% block content %}
<div id="device-filter" class="pull-left">
    Sort by:
    <form action="" class="filter-form">
        {% for field in form %}
            {{ field }}
        {% endfor %}
    </form>
</div>

<div id="device-view" class="pull-right">
    <a id="device-list-view" href="#list" class="active">List</a>
    /
    <a id="device-map-view" href="#map">Map</a>
</div>
<div class="clearfix"></div>

<div id="device-list">
{% for device in devices %}
    <div>
        <div class="device">
            <div class="image">
                <a href="{{ device.get_absolute_url }}">
                    <img src="{{ device.image.url }}" />
                </a>
            </div>
            <div class="name">
                <a href="{{ device.get_absolute_url }}">
                    {{ device }}
                </a>
            </div>
            <div class="info">
                <span class="os">{{ device.os }}</span>
                {{ device.version }}
            </div>
            <div class="owner img-circle">
                {% if device.employer %}
                    <a href="{{ device.employer.get_absolute_url }}">
                        <img src="{{ device.employer.image.url }}" class="img-circle" />
                    </a>
                {% endif %}
            </div>
        </div>
    </div>
    {% if forloop.counter|divisibleby:5 %}
        <div class="clearfix"></div>
    {% endif %}
{% endfor %}
</div>

{% include "map.html" %}

<div class="clearfix"></div>
<div class="pagination">
    {% if devices.has_previous %}
        <a href="{% url 'employer_list' %}{% url_replace request 'page' devices.previous_page_number %}" class="pull-left">&laquo; Previous</a>
    {% endif %}

    {% if devices.has_next %}
        <a href="{% url 'employer_list' %}{% url_replace request 'page' devices.next_page_number %}" class="pull-right">Next &raquo;</a>
    {% endif %}

    {% if devices.paginator.num_pages > 1 %}
        <span class="current">
            Page {{ devices.number }} of {{ devices.paginator.num_pages }}
        </span>
    {% endif %}
</div>
{% endblock %}
<!-- /CONTENT -->
