{% load twid %}

<div id="device-map" class="hidden">
    <div class="top-rooms">
        <div class="room big">{% room devices_by_room '519' %}</div>
        <div class="room big">501</div>
        <div class="room">502</div>
        <div class="room">503</div>
        <div class="room">504</div>
        <div class="room">505</div>
        <div class="room disabled"></div>
        <div class="room disabled"></div>
        <div class="room disabled"></div>
        <div class="room disabled"></div>
        <div class="room disabled"></div>
        <div class="room disabled"></div>
        <div class="room disabled"></div>
        <div class="room disabled"></div>
        <div class="room disabled"></div>
        <div class="skip"></div>
        <div class="clearfix"></div>

    </div>
    <div class="corridor"></div>
    <div class="bottom-rooms">
        <div class="room">512</div>
        <div class="room">513</div>
        <div class="room">514</div>
        <div class="room">515</div>
        <div class="skip"></div>
        <div class="room small">518</div>
        <div class="room">519</div>
        <div class="room">520</div>
        <div class="room">521</div>
        <div class="room">522</div>
        <div class="room">523</div>
        <div class="room">524</div>
        <div class="room">525</div>
        <div class="room">526</div>
        <div class="room last">527</div>
        <div class="clearfix"></div>
    </div>
</div>
