{% load twid %}
<div id="device-map" class="hidden">
    <h2>Level 5 (Kulman 9, Minsk)</h2>
    <div class="top-rooms">
        <div class="room big">{% room devices_by_room 500 %}</div>
        <div class="room big">{% room devices_by_room 501 %}</div>
        <div class="room">{% room devices_by_room 502 %}</div>
        <div class="room">{% room devices_by_room 503 %}</div>
        <div class="room">{% room devices_by_room 504 %}</div>
        <div class="room">{% room devices_by_room 505 %}</div>
        <div class="room disabled"></div>
        <div class="room disabled"></div>
        <div class="room disabled"></div>
        <div class="room disabled"></div>
        <div class="room disabled"></div>
        <div class="room disabled"></div>
        <div class="room disabled"></div>
        <div class="room disabled"></div>
        <div class="room disabled"></div>
        <div class="room disabled"></div>
        <div class="skip"></div>
        <div class="clearfix"></div>

    </div>
    <div class="corridor"></div>
    <div class="bottom-rooms">
        <div class="room big">{% room devices_by_room 515 %}</div>
        <div class="room disabled"></div>
        <div class="room big">{% room devices_by_room 517 %}</div>
        <div class="skip"></div>
        <div class="room small">{% room devices_by_room 518 %}</div>
        <div class="room">{% room devices_by_room 519 %}</div>
        <div class="room">{% room devices_by_room 520 %}</div>
        <div class="room">{% room devices_by_room 521 %}</div>
        <div class="room">{% room devices_by_room 522 %}</div>
        <div class="room">{% room devices_by_room 523 %}</div>
        <div class="room">{% room devices_by_room 524 %}</div>
        <div class="room disabled"></div>
        <div class="room">{% room devices_by_room 526 %}</div>
        <div class="room last">{% room devices_by_room 527 %}</div>
        <div class="room last">{% room devices_by_room 528 %}</div>
        <div class="clearfix"></div>
    </div>
</div>
