{% extends "common/layout.html" %}
{% load staticfiles %}
{% load static %}
{% block content %}
<ol class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li> &raquo; </li>
  <li class="active">{{ device.model }}</li>
</ol>
    <div class="row">
        <div class="span2">
            <img src="/media/{{ device.image }}" class="img-rounded">
            <img id="device-owner-img" src="http://cs608927.vk.me/v608927727/921e/FvAcJ4pdeeI.jpg" class="img-circle">
        </div>
        <div class="span4">
            <h3>{{ device.sku }}</h3>
            <table class="table table-hover">
                <tr>
                    <td>model</td>
                    <td>{{ device.model }}</td>
                </tr>
                <tr>
                    <td>os</td>
                    <td>{{ device.os }}</td>
                </tr>
                <tr>
                    <td>version</td>
                    <td>{{ device.version }}</td>
                </tr>
                <tr>
                    <td>mac</td>
                    <td>{{ device.mac }}</td>
                </tr>
            </table>
        </div>
        <div class="span3">
            <h3>История</h3>
            <table class="table table-hover">
                {% for emp in history %}
                    <tr>
                        <td><img src="/media/{{ emp.employer.image }}" class="img-rounded small-history"></td>
                        <td>{{ emp.employer.first_name }} {{ emp.employer.last_name }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>

{% endblock %}
