{% extends "common/layout.html" %}
{% load staticfiles %}
{% load static %}
{% block content %}
    <ol class="breadcrumb">
        <li><a href="/">Home</a></li>
        <li> &raquo; </li>
        <li class="active">{{ device.model }}</li>
    </ol>
    <div class="row">
        <div class="span2">
            <img src="/media/{{ device.image }}" class="img-rounded">
            <img id="device-owner-img" src="/media/{{ owner.image }}" class="img-circle">

            <form>
                {% csrf_token %}
                <label for="developer">Developer: </label>
                <input id="developer" type="text" class="input-medium">
                <button id="give-device-button" class="btn btn-primary" type="button">Передать девайс</button>
            </form>
            <div class="hidden">
                <div id="names">
                    {% for id, name in names.items %}
                        <div class="{{ id }}">{{ name }}</div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="span7">
            <div class="row">
                <div class="span4">
                    <h3>{{ device }} ({{ device.sku }})</h3>
                    <table class="table table-hover">
                        <tr>
                            <td>Model</td>
                            <td>{{ device.model }}</td>
                        </tr>
                        <tr>
                            <td>OS</td>
                            <td>{{ device.os }}</td>
                        </tr>
                        <tr>
                            <td>Version</td>
                            <td>{{ device.version }}</td>
                        </tr>
                        <tr>
                            <td>MAC Address</td>
                            <td>{{ device.mac }}</td>
                        </tr>
                    </table>
                </div>
                <div class="span3">
                    <h3>History</h3>
                    <table class="table table-hover">
                        {% for emp in history %}
                            <tr>
                                <td><img src="/media/{{ emp.employer.image }}" class="img-rounded small-history"></td>
                                <td>{{ emp.employer.first_name }} {{ emp.employer.last_name }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="span7">
                    <h3>Update requests:</h3>
                    <ul class="list" style="list-style-type: none;">
                        {% for request in update_requests %}
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="span2">
                                        <img src="/media/{{ request.employer.image }}" class="img-circle"
                                             style="height: 80px;width: 80px;">
                                    </div>
                                    <div class="span7">
                                        <div>
                                            <div class="mic-info">
                                                {{ request.employer.first_name }} {{ request.employer.last_name }}
                                                - {{ request.date }}
                                            </div>
                                        </div>
                                        <div class="comment-text">
                                            {{ request.request_message }}
                                        </div>
                                        <div class="action" id="{{ request.id }}">
                                            <button class="btn plus" type="button"> {{ request.likes }}</button>
                                            <button class="btn btn-danger minus"
                                                    type="button">{{ request.dislikes }}</button>
                                        </div>
                                    </div>
                                </div>
                            </li>

                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript">

        $(function () {
            var names = [];
            $("#names").children("div").each(
                    function () {
                        names.push(this.innerHTML);
                    }
            );

            var accentMap = {
                "á": "a",
                "ö": "o"
            };
            var normalize = function (term) {
                var ret = "";
                for (var i = 0; i < term.length; i++) {
                    ret += accentMap[ term.charAt(i) ] || term.charAt(i);
                }
                return ret;
            };

            $("#developer").autocomplete({
                source: function (request, response) {
                    var matcher = new RegExp($.ui.autocomplete.escapeRegex(request.term), "i");
                    response($.grep(names, function (value) {
                        value = value.label || value.value || value;
                        return matcher.test(value) || matcher.test(normalize(value));
                    }));
                }
            });
        });


        $('.plus').bind('click', function () {
            var update_id = $(this).parent().attr('id');
            var self = $(this);
            $.ajax({
                type: 'get',
                success: function () {
                    console.log(self.text(parseInt(self.text()) + 1));

                },
                url: '/vote_for_update/' + update_id + '/1/'
            });
        });

        $('.minus').bind('click', function () {
            var update_id = $(this).parent().attr('id');
            var self = $(this);
            $.ajax({
                type: 'get',
                success: function () {
                    console.log(self.text(parseInt(self.text()) + 1));

                },
                url: '/vote_for_update/' + update_id + '/0/'
            });
        });


        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie != '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) == (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        var csrftoken = getCookie('csrftoken');


        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }
        function sameOrigin(url) {
            var host = document.location.host;
            var protocol = document.location.protocol;
            var sr_origin = '//' + host;
            var origin = protocol + sr_origin;
            return (url == origin || url.slice(0, origin.length + 1) == origin + '/') ||
                    (url == sr_origin || url.slice(0, sr_origin.length + 1) == sr_origin + '/') || !(/^(\/\/|http:|https:).*/.test(url));
        }
        $.ajaxSetup({
            beforeSend: function (xhr, settings) {
                if (!csrfSafeMethod(settings.type) && sameOrigin(settings.url)) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });

        var names = [];
        var ids = [];

        $("#names").children("div").each(
                function () {
                    ids.push(this.className);
                    names.push(this.innerHTML);
                }
        );
        $('#give-device-button').bind('click', function () {
            names.indexOf($('#developer').val());
            $.post(
                    '/device/assign/' + {{ device.id }} +'/',
                    {
                        'employer_id': ids[names.indexOf($('#developer').val())],
                        'csrfmiddlewaretoken': csrftoken
                    },
                    function () {
                        location.reload();
                    }
            );
        });

    </script>

{% endblock %}
